version: 2.1
jobs:
  build:
    working_directory: ~/perl-playground
    docker:
      - image: perl:5.38
    steps:
      - checkout
      - run: perl -version
      - run: perl hello.pl
workflows:
  version: 2
  build:
    jobs:
      - build
  daily_workflow:
    triggers:
      - schedule:
          cron: "0 20 * * *"
          filters:
            branches:
              only: /master/
    jobs:
      - build
